# Propietarios predeterminados
* @carlosalberto05

# Componentes
/src/components @carlosalberto05

# Páginas
/src/app @carlosalberto05

# Estilos
/src/styles @carlosalberto05

# Documentación
*.md @carlosalberto05